---
import Layout from "../layouts/layouts.astro";
import portrait from '../images/william-mison-portrait.png';
---
<Layout title="Home">
    <!-- banner -->
    <div class="banner section">
        <div class="grid-2">
            <div class="grid-left home-left">
                <div class="bubble">
                    Hi! it’s me!
                </div>
                <h1>William Mison</h1>
                <h3>Web developer and Designer</h3>
                <p>Creative developer from Philippines.<br>I create simple yet expertly coded designs.</p>
                <div class="btn-wrapper">
                    <a class="btn" href="mailto:misonwilliam@gmail.com">Contact Me!</a>
                    <a class="btn more-me" href="/about">Get to know more!</a>
                </div>
            </div>
            <div class="grid-right home-right">
                <img src={portrait} alt="william mison portrait">
            </div>
        </div>
    </div>
    <!-- archive cta -->
    <div class="one-full">
        <div class="bottom-cta">
            <div class="grid-2-1">
                <div class="grid-left">
                    <h1>Check my archive!</h1>
                    <p>I'm currently building a collection of simple coded designed elements that looks great but does not need too much resources.</p>
                </div>
                <div class="grid-right">
                    <a class="btn" href="/archive">Check it out!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- email and tagline -->
    <div class="tagline">
        <h2>Bringing amazing ideas to Life!</h2>
        <a href="mailto:misonwilliam@gmail.com"><i class="mdi mdi-email-outline"></i>misonwilliam@gmail.com</a> | 
        <a href="https://join.skype.com/invite/WniJAaB8z45v" target="_blank"><i class="mdi mdi-skype"></i>live:misonwilliam</a>
    </div>
</Layout>